// containers, grid systems, flex box, header, footer, sidebar, forms (these can all be their own file as well)
@use "base" as *;

// html {
// }

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.learning-to-code {
    @include teal-container() {
        max-width: 25rem;
        height: auto;
    };

    h1 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }
}

.random-button__container {
    @include teal-container() {
        max-width: 15rem;
        height: auto;
    };

    h1 {
        margin-top: 0;
    }
}