.bottom-container-button {
  text-align: center;
  border-top-width: 1px;
  border-top-color: rgb(196, 196, 196);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: 2.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: white;
  transition: background-color 200ms;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
}
.bottom-container-button:hover {
  background-color: rgb(236, 236, 236);
}

.round-image-div {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.round-image {
  width: 100%;
}

.subcontent__title {
  font-weight: bold;
  margin: 0.1rem 0;
}

.subcontent__subtitle {
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
  margin: 0.5rem 0 1rem 0;
}

.subcontent__detail {
  font-size: 0.85rem;
  margin: 0.1rem 0 1rem 0;
}

.oval-button {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  width: fit-content;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.06rem;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
  padding: 0 1.5rem;
  padding-top: 4rem;
}

.container {
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0px 2px 0.05px grey;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  min-height: 8rem;
}

.container-title {
  margin: 1rem 0 1rem 0;
  padding: 0;
  font-size: 1.2rem;
}

.main-section {
  grid-area: main-section;
}
.main-section .profile-summary {
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0px 2px 0.05px grey;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  height: fit-content;
  min-height: 8rem;
}
.main-section .profile-summary .container-title {
  margin-bottom: 0rem;
}
.main-section .profile-summary .round-image-div {
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}
.main-section .profile-summary .background-image-div {
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 12.5rem;
  background-image: url("../img/backgroundLinkedinPic.jpeg");
  background-size: cover;
  z-index: 0;
}
.main-section .profile-summary .headline {
  font-size: 0.95rem;
  margin-top: 0;
  margin-bottom: 0;
}
.main-section .subcontent__subtitle {
  margin: 0.5rem 0;
}

.extras {
  grid-area: extras;
}
.extras .extras__item {
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0px 2px 0.05px grey;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
}
.extras .extras__item .container-title {
  margin: 1rem 0 1rem 0;
}

@media (min-width: 768px) {
  .main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "main-section extras";
    gap: 0.8rem;
    max-width: 1140px;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .main {
    gap: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
