// containers, grid systems, flex box, header, footer, sidebar, forms

@use "base" as *;

html {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.06rem;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: map-get($colors, main-background);
  box-sizing: border-box;
  padding: 0 1.5rem;
  padding-top: 4rem
}

.container {
  @include main-section-container;
}

.container-title {
  margin: 1rem 0 1rem 0;
  padding: 0;
  font-size: 1.2rem;
}

.main-section {
  grid-area: main-section;

  .profile-summary {
    @include main-section-container;

    .container-title {
      margin-bottom: 0rem;
    }

    .round-image-div {
      margin-top: 4rem;
      position: relative;
      z-index: 1;
    }

    .background-image-div {
      position: absolute;
      top: 0;
      left: 0;
      border-top-right-radius: $standard-radius;
      border-top-left-radius: $standard-radius;
      overflow: hidden;
      width: 100%;
      height: 12.5rem;
      background-image: url("../img/backgroundLinkedinPic.jpeg");
      background-size: cover;
      z-index: 0;
    }

    .headline {
      font-size: 0.95rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .subcontent__subtitle {
    margin: 0.5rem 0;
  }
}

.extras {
  grid-area: extras;

  .extras__item {
    @include primary-container() {
      margin-top: 0.5rem;
      width: 100%;
      height: auto;
    }

    .container-title {
      margin: 1rem 0 1rem 0;
    }

    
  }
}

@media (min-width: 768px) {
  .main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "main-section extras";
    gap: 0.8rem;
    max-width: 1140px;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .main {
    gap: 1.5rem;
  }
}
